.DS_Store
node_modules
npm-debug.log
bower_components
*.swp
package-lock.json
TODO.txt
dist/index.html
dist/css/layers-demo.css
dist/demo/layers-align.html
dist/demo/layers-modal-with-overflow.html
dist/demo/layers-modal-without-overflow.html
dist/demo/layers-overlay-loading.html
dist/demo/layers-pages-horizontal.html
dist/demo/layers-pages-vertical.html
dist/demo/layers-simple-with-overflow.html
dist/demo/layers-simple-without-overflow.html
dist/demo/layers-split-grid.html
dist/demo/layers-split-horizontal.html
dist/demo/layers-split-vertical.html
dist/demo/layers-stack.html
src/layouts/default.html
src/pages/index.html
src/pages/demo/layers-align.html
src/pages/demo/layers-modal-with-overflow.html
src/pages/demo/layers-modal-without-overflow.html
src/pages/demo/layers-overlay-loading.html
src/pages/demo/layers-pages-horizontal.html
src/pages/demo/layers-pages-vertical.html
src/pages/demo/layers-simple-with-overflow.html
src/pages/demo/layers-simple-without-overflow.html
src/pages/demo/layers-split-grid.html
src/pages/demo/layers-split-horizontal.html
src/pages/demo/layers-split-vertical.html
src/pages/demo/layers-stack.html
src/partials/layer-inc.html
src/scss/layers-demo.scss
