<div class="layer {{ modifier }}" style="{{{ style }}}">
    <div class="layer-header">
        <p>{{#if header_text }}{{{ header_text }}}{{else}}Header{{/if}}</p>
    </div>
    <div class="layer-body">
        <div class="layer-content">
        {{#if overflow}}
            <p>Ad aliqua amet ex aliquip sunt aute anim eiusmod officia commodo in nisi in occaecat.
            <br>Dolor quis qui consequat in non eiusmod aliquip eiusmod tempor dolore qui dolore non incididunt ut adipisicing minim.
            <br>Elit tempor id in laborum velit exercitation veniam deserunt dolor nostrud elit dolore eu velit mollit commodo sint sed.
            <br>Sit quis mollit culpa quis reprehenderit culpa veniam culpa.
            <br>In officia mollit incididunt fugiat esse ad deserunt non ad commodo eu do nostrud sunt ut aute in.
            <br>Laborum quis nisi et in mollit nostrud magna esse sint et deserunt tempor laborum minim.
            <br>Eu eu elit nostrud cupidatat cillum non eiusmod excepteur nulla fugiat id laboris qui magna et ad.
            <br>Amet non quis ad officia eiusmod ut laborum irure velit qui exercitation sed aliquip fugiat irure proident voluptate velit.
            <br>Aliquip tempor dolore voluptate nulla velit dolore adipisicing nostrud in cupidatat eiusmod labore aliquip.
            <br>Eu id minim exercitation officia eu sed in cupidatat exercitation minim mollit aliquip culpa culpa non.
            <br>Nostrud dolore ad reprehenderit sunt irure labore eu ut magna sed duis veniam deserunt nisi dolor anim elit reprehenderit.
            <br>Labore fugiat minim aliqua in mollit commodo anim aliqua ut ex ut quis ullamco aliqua.
            <br>Lorem ipsum veniam quis amet mollit nisi nostrud duis sit non do minim non commodo pariatur consectetur excepteur sed culpa.
            <br>Minim magna ex dolore culpa cupidatat occaecat culpa minim proident do commodo excepteur ad proident labore id.
            <br>Lorem ipsum sed pariatur exercitation deserunt velit proident velit et commodo nisi amet cillum sint enim eu.
            <br>Lorem ipsum nulla sit irure qui aliqua minim tempor nulla fugiat duis cupidatat irure sit irure sed nostrud elit.
            <br>Dolor pariatur laborum duis veniam ad aute dolore elit dolor enim.
            <br>Irure in eiusmod laboris velit velit non amet laborum fugiat sint voluptate anim id occaecat.
            <br>Veniam anim excepteur anim ut voluptate sed ex nulla fugiat.
            <br>Cillum incididunt sint consectetur dolore cupidatat irure anim velit consequat cillum aliquip dolor est.
            <br>Lorem ipsum cupidatat magna anim fugiat incididunt consequat dolore pariatur aliquip sit eiusmod.
            <br>Non in dolore pariatur id reprehenderit proident in ex labore aliqua.
            <br>Tempor magna enim incididunt consectetur consectetur non nostrud magna.
            <br>Quis laborum ad laboris cillum non ut dolore et sunt dolor laborum ad mollit incididunt nisi dolor.
            <br>Excepteur enim ullamco ut dolor magna minim magna consectetur et elit veniam minim amet irure ex officia.
            <br>Consequat deserunt dolor laboris adipisicing veniam deserunt velit culpa occaecat excepteur ea.
            <br>Nisi id nulla proident esse sint reprehenderit anim commodo eiusmod minim amet nisi.
            <br>Culpa in exercitation ullamco labore in velit enim cillum deserunt aute aliqua cillum commodo veniam ut eiusmod dolore.
            <br>Exercitation anim incididunt ea tempor est in do ut ex dolore exercitation dolor pariatur fugiat.
            <br>Lorem ipsum pariatur minim amet dolore exercitation ullamco exercitation aliquip fugiat aute et dolor sed in.
            <br>Magna nisi voluptate voluptate reprehenderit esse non eiusmod reprehenderit.
            <br>Lorem ipsum sit ea dolor in sit amet reprehenderit anim dolor.
            <br>Lorem ipsum voluptate cillum fugiat in aute occaecat dolore minim non minim id nisi irure ex minim.
            <br>Fugiat exercitation irure ullamco ea id labore elit elit quis ea.
            <br>Aliqua aute laborum reprehenderit amet incididunt occaecat sed enim laborum qui voluptate mollit laborum consequat.
            <br>Enim non tempor pariatur mollit in aliquip in in aliqua cillum cillum anim tempor.
            <br>Id in amet eiusmod nulla consequat officia do in eu.
            <br>Sit amet voluptate ut dolore irure ut mollit exercitation fugiat ex excepteur ut.
            <br>Enim id dolor ea occaecat dolore velit occaecat dolor sint dolore.
            <br>Laboris sed ut sunt anim irure cillum eu aute exercitation.
            <br>Anim dolor nisi officia eu anim deserunt irure deserunt reprehenderit incididunt ut incididunt in magna proident in reprehenderit pariatur.
            <br>Lorem ipsum occaecat est irure pariatur voluptate deserunt in sed ut.
            <br>Commodo excepteur dolor ut voluptate sit ea incididunt aliqua ullamco enim est dolor pariatur dolor ut.
            <br>Lorem ipsum reprehenderit irure fugiat enim in dolor deserunt cupidatat exercitation in dolore et id occaecat magna voluptate mollit.
            <br>Laboris minim et id sed dolore ut duis est anim.
            <br>Lorem ipsum esse commodo enim aliquip dolor consectetur excepteur consectetur cupidatat ex.
            <br>Nostrud cillum anim id velit ut cillum sit labore incididunt enim voluptate.
            <br>Pariatur cupidatat dolor est nisi sunt in do consequat exercitation anim aute et officia nisi adipisicing ullamco deserunt.
            <br>Et mollit incididunt mollit aliqua pariatur ut qui sit magna dolor nostrud eiusmod dolor est mollit qui sit.
            <br>Magna quis amet eiusmod aliquip dolor veniam in voluptate reprehenderit dolor anim occaecat tempor qui sunt.
            <br>Irure dolore nisi sed in aliquip commodo sunt in aliquip minim nostrud cillum eiusmod do ex id eiusmod consectetur.
            <br>Elit nulla reprehenderit dolor sint aliqua ut consectetur incididunt pariatur incididunt nostrud velit ea occaecat anim.
            <br>Esse ut duis cupidatat mollit ut do consectetur commodo id ex laborum duis amet quis.
            <br>Sit elit sit voluptate nisi nisi consectetur cupidatat non eu in sunt dolor irure velit labore sunt.
            <br>Velit et tempor dolore irure sunt in dolor cupidatat culpa dolore incididunt aute eu sit.
            </p>
        {{else}}
            <p>Ad aliqua amet ex aliquip sunt aute anim eiusmod officia commodo in nisi in occaecat.
            <br>Dolor quis qui consequat in non eiusmod aliquip eiusmod tempor dolore qui dolore non incididunt ut adipisicing minim.
            </p>
        {{/if}}
        </div>
    </div>
    <div class="layer-footer">
        <p>{{#if footer_text }}{{{ footer_text }}}{{else}}Footer{{/if}}</p>
    </div>
    {{#if overlay_loading}}
    <div class="layer-overlay layer-overlay--dark layer-overlay--loading">
        <p>{{#if overlay_text }}{{{ overlay_text }}}{{else}}Overlay{{/if}}</p>
    </div>
    {{/if}}
</div>
