<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>layers.css</title>
        <link href="{{root}}css/layers.css" rel="stylesheet">
    </head>
    <body>

        {{> body}}

        <!--
        <script src="{{root}}js/app.js"></script>

        <script type="text/javascript">
            (function($){
                $(document).ready(function(){
                    {{#ifpage 'index'}}
                    {{/ifpage}}
                });
            })(jQuery);
        </script>
        -->

    </body>
</html>